.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
scripts/**
docs/**
.git/**
.gitignore
.npmrc
.prettierrc.json
pnpm-*.yaml
esbuild.js
eslint.config.mjs
vsc-extension-quickstart.md
tsconfig*.json
.vscode-test.*
**/*.map
**/*.ts
**/*.vsix
.pnpm-store/**
.codex/**
.agents/**
